/* FONTS

font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/

body {
    font-family: 'Montserrat', sans-serif;
}


/* TAGS */

h1 {
    
    font-style: 3.5rem;
    line-height: 1.5;
}

/* CLASSES */

.align-right {
    flex-flow: row-reverse;
    margin-right: 20%;
    
}

/* Download Buttons */

.download-btn {
    background-color: #ff4c68;
    border: 1px solid white;
    margin: 5%;
}

.row {
    padding-top: 5%;
}

/* Navigation Bar */

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat" ;
    
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    
}


/* IDS */

#title {
    background-color: #ff4c68;
    padding: 5% 10%;
    color: white;
}